@model Security.Core.Model.Equipos

@Scripts.Render("~/bundles/MX-calendar")
<link href="~/Content/themes/base/all.css" rel="stylesheet" />

@{
    ViewBag.Title = "Equipos / Editar";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="modal-header label-warning">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hitden="true">&times;</span></button>

    <h2 class="modal-title">Editar</h2>

    <h4 class="Fuente_blanca">Equipos</h4>
</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            
            @Html.HiddenFor(model => model.FechaAlta)
            @Html.HiddenFor(model => model.Id_Equipo)

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Hostname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hostname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Hostname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IP, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MacAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MacAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MacAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Id_EquipoTipo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_EquipoTipo", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_EquipoTipo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Id_DispositivoTipo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_DispositivoTipo", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_DispositivoTipo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaCaducidad, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FechaCaducidad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaCaducidad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Id_Cuenta, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_Cuenta", new SelectList(string.Empty, "Id_Cuenta", "Cuenta"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Cuenta, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Id_Sistema, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_Sistema", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Sistema, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Estatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Estatus)
                        @Html.ValidationMessageFor(model => model.Estatus, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @{
                var ControllerName = ViewContext.RouteData.Values["Controller"];
            }


        </div>

        </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Guardar" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="left" data-content="Guardar">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <a class="btn btn-info glyphicon glyphicon-chevron-left" data-container="body" data-toggle="popover" data-placement="right" data-content="Volver" href="/@ControllerName"></a>
            </div>
        </div>
        </div>
        }
        @section Scripts {
            <script type="text/javascript">
                $(document).ready(function () {

                    $.datepicker.setDefaults($.datepicker.regional['es-MX']);
                    $('#FechaCaducidad').datepicker({ dateFormat: "yy-mm-dd" });
                });
            </script>

            <script type="text/javascript">
                $(document).ready(function () {

                    var options = [[]];

                    $.getJSON("/api/Cuentas/GetCuentas", function (result) {
                        for (var i = 0; i < result.length; i++) {
                            options.push('<option value="',
                              result[i].Id_Cuenta, '">',
                              result[i].Cuenta, '</option>');
                        }
                        $("#Id_Cuenta").html(options.join(''));
                    });

                    return false;
                });
            </script>

            <script>
                $(document).ready(function () {
                    $('#Hostname').focus();
                });
            </script>
        }
