﻿@model PagedList.IPagedList<Security.Core.Model.Contactos>
@using PagedList.Mvc;

@Scripts.Render("~/bundles/Miscelaneous")

@{
    ViewBag.Title = "Contactos / Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><span class="glyphicon glyphicon-home"></span> @Html.ActionLink("Inicio", "Index", "Home")</li>
    <li><b>Contacto</b></li>
    <li class="active">Lista</li>
</ol>
<h2 class="Titulo" align="center">Contactos</h2>
<hr />
@using (Html.BeginForm("Index", "Contactos", FormMethod.Get))
{
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
        <div class="input-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <div class="input-group-btn">
                <button name="btnSearch" id="btnSearch" type="submit" value="create" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Buscar">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
                <button name="btnFilter" id="btnFilter" type="submit" value="index" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Quitar filtro">
                    <i class="glyphicon glyphicon-filter"></i>
                </button>
            </div>
        </div>
    </div>
    <br />
}
<br />
<br />
<div class="table-responsive">
    <table id="Contacto_tbl" class="table table-bordered table-condensed table-hover Box">
        <tr>
            <th class="alert-info">
                @Html.ActionLink("Medio", "Index", new { sortOrder = ViewBag.SortByContactoMedio, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th class="alert-info">
                @Html.ActionLink("Tipo", "Index", new { sortOrder = ViewBag.SortByContactoTipo, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th class="alert-info">
                @Html.ActionLink("Contacto", "Index", new { sortOrder = ViewBag.SortByContacto, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th class="alert-info">
                Notas
            </th>
            <th class="alert-info">
                Estatus
            </th>

            <th class="alert-success">
                <span class="glyphicon glyphicon-cog"></span> Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacto_medio.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacto_tipo.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>

                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id_Contacto }, htmlAttributes: new { @class = "btn-xs btn-warning glyphicon glyphicon-pencil", data_modal = "" }) |
                    @Html.ActionLink(" ", "Details", new { id = item.Id_Contacto }, new { @class = "btn-xs btn-info glyphicon glyphicon-th-list", data_modal = "" }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.Id_Contacto }, new { @class = "btn-xs btn-danger glyphicon glyphicon-remove", data_modal = "" })
                </td>
            </tr>
        }

    </table>
</div>
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<table>
    <tr>
        <td>
            @Html.ActionLink(" ", "Create", "Contactos", htmlAttributes: new { @class = "btn btn-success glyphicon glyphicon-plus", data_modal = "" })
        </td>
    </tr>
</table>

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });

        $("a[data-modal]").on("click", function (e) {
            // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
            //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

            $('#myModalContent').load(this.href, function () {
                $('#myModal').modal({
                    backdrop: 'static',
                    keyboard: true,

                }, 'show');
                bindForm(this);
            });
            return false;
        });
    });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {

            $.ajax({
                type: this.method,
                url: this.action,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        window.location.href = result.url;
                    } else {
                        $('#myModalContent').html(result);
                        bindForm(dialog);
                    }
                }
            });

            return false;
        });
    }
</script>