@model Security.Core.Model.Baja_motivos

@{
    ViewBag.Title = "Detalles Motivos Baja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de motivo de baja</h2>

<div>    
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baja.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baja.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_MotivoBaja }) |
    @Html.ActionLink("Back to List", "Index")
</p>
