@model PagedList.IPagedList<Security.Core.Model.Baja_motivos>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Motivos de baja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo" align="center">Motivos bajas</h2>

@using (Html.BeginForm("Index", "Baja_Motivos", FormMethod.Get))
{
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
        <div class="input-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <span class="input-group-btn">
                <input type="submit" value="Buscar" placeholder="Valor de búsqueda" class="btn btn-default" />
            </span>
        </div>
    </div>
}

<br /><br /><br />

<table class="table table-bordered table-condensed table-striped table-hover">
    <tr>
        <th class="alert-info">
            @Html.ActionLink("Motivo", "Index", new { sortOrder = ViewBag.Motivo, currentFilter = ViewBag.CurrentFilter })            
        </th>
        <th class="alert-info">
            @Html.ActionLink("Baja", "Index", new { sortOrder = ViewBag.Baja, currentFilter = ViewBag.CurrentFilter })            
        </th>
        <th class="alert-success">
            <span class="glyphicon glyphicon-cog"> <b>Acciones</b> </span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baja.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id_MotivoBaja }      , new { @class = "ButtonSettings Edit" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id_MotivoBaja } , new { @class = "ButtonSettings Details" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id_MotivoBaja }  , new { @class = "ButtonSettings Delete" })
            </td>
        </tr>  
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<table class="btn-group">
    <tr>
        <td>    
            <div class="input-group">
                <p>
                    @Html.ActionLink(" ", "Create", "Baja_motivos", null, new { @class = "btn btn-success glyphicon glyphicon-plus" })
                </p>
            </div>
        </td>
    </tr>
</table>