@model IEnumerable<Security.Core.Model.Baja_motivos>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baja.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Baja.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_MotivoBaja }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id_MotivoBaja }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_MotivoBaja })
        </td>
    </tr>
}

</table>
