@model PagedList.IPagedList<Security.Core.Model.Baja_motivos>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('button').popover({ trigger: "hover" });

        $('a').popover({ trigger: 'hover' });

        $('#btnFilter').click(function () {
            $('#SearchString').val('');
        });

    });
</script>

@{
    ViewBag.Title = "Motivos de baja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo" align="center">Motivos bajas</h2>

@using (Html.BeginForm("Index", "Baja_Motivos", FormMethod.Get))
{
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
        <div class="input-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <span class="input-group-btn">
                <button type="submit" value="Buscar" class="btn btn-info">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
}

<br /><br /><br />

<table class="table table-bordered table-condensed table-striped table-hover">
    <tr>
        <th class="alert-info">
            @Html.ActionLink("Motivo", "Index", new { sortOrder = ViewBag.Motivo, currentFilter = ViewBag.CurrentFilter })            
        </th>
        <th class="alert-info">
            @Html.ActionLink("Baja", "Index", new { sortOrder = ViewBag.Baja, currentFilter = ViewBag.CurrentFilter })            
        </th>
        <th class="alert-success">
            <span class="glyphicon glyphicon-cog"> <b>Acciones</b> </span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baja.Nombre)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.Id_MotivoBaja }, new { @class = "btn-xs btn-warning glyphicon glyphicon-pencil" }) |
                @Html.ActionLink(" ", "Details", new { id = item.Id_MotivoBaja }, new { @class = "btn-xs btn-info glyphicon glyphicon-th-list" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.Id_MotivoBaja }, new { @class = "btn-xs btn-danger glyphicon glyphicon-remove" })
            </td>
        </tr>  
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<table class="btn-group">
    <tr>
        <td>    
            <div class="input-group">
                <p>                    
                    <a class="btn btn-success glyphicon glyphicon-plus" data-container="body" data-toggle="popover" data-placement="right"
                       data-content="Nuevo" href="/Baja_motivos/Create"></a>
                </p>
            </div>
        </td>
    </tr>
</table>