@model IEnumerable<Security.Core.Model.Baja>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li>Inicio</li>
    <li><b>Bajas</b></li>
    <li class="active">Lista</li>
</ol>

<table class="table table-bordered table-condensed table-hover">
    <tr>
        <th class="alert-info">
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th class="alert-success">
            <span class="glyphicon glyphicon-cog"> Acciones</span>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.Id_Baja }, new { @class = "btn-xs btn-warning glyphicon glyphicon-pencil" }) |
            @Html.ActionLink(" ", "Details", new { id = item.Id_Baja }, new { @class = "btn-xs btn-info glyphicon glyphicon-th-list" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.Id_Baja }, new { @class = "btn-xs btn-danger glyphicon glyphicon-remove" })
        </td>
    </tr>
}

</table>
@{
    var ControllerName = ViewContext.RouteData.Values["controller"];
}
<table>
    <tr>
        <td>
            <a class="btn btn-success glyphicon glyphicon-plus" data-container="body" data-toggle="popover" data-placement="right" data-content="Agregar" href="~/@ControllerName/Create"></a>
        </td>
    </tr>
</table>