@model Security.Core.Model.Sistemas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo">Detalle</h2>

<div>
    <h4>Sistemas</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Siglas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Siglas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

    </dl>
</div>
<p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @{
                var referencia = "/Sistemas/Edit/" + Model.Id_Sistema;
            }

            <a class="btn btn-warning glyphicon glyphicon-pencil" data-container="body" data-toggle="popover" data-placement="left" data-content="Editar" href=@referencia></a>

            <a class="btn btn-info glyphicon glyphicon-chevron-left" data-container="body" data-toggle="popover" data-placement="right" data-content="Volver" href="/Sistemas"></a>

        </div>
    </div>
</p>
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script type="text/javascript">
   $(document).ready(function () {
       $('button').popover({ trigger: "hover" });
       $('a').popover({ trigger: 'hover' });
   });
</script>