<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CONADUS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>    
    <div class="container">


        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">CONADUS</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">MIKE <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-header">Creados Mike</li>
                                <li>@Html.ActionLink("AreasTrabajo", "Index", "AreasDeTrabajo")</li>
                                <li>@Html.ActionLink("Baja_Motivos", "Index", "Baja_Motivos")</li>
                                <li>@Html.ActionLink("Beneficio_Tipo", "Index", "Beneficio_Tipo")</li>
                                <li>@Html.ActionLink("Contacto_Medio", "Index", "Contacto_Medio")</li>
                                <li>@Html.ActionLink("Directorios", "Index", "Directorios")</li>
                                <li>@Html.ActionLink("Equipos_Tipo", "Index", "Equipos_Tipo")</li>
                                <li>@Html.ActionLink("Menu_Categoria", "Index", "Menu_Categoria")</li>
                                <li>@Html.ActionLink("Entidades", "Index", "Entidades")</li>
                                <li>@Html.ActionLink("Paginas", "Index", "Paginas")</li>
                                <li>@Html.ActionLink("Permisos", "Index", "Permisos")</li>
                                <li>@Html.ActionLink("Preguntas", "Index", "Preguntas")</li>
                                <li>@Html.ActionLink("PreguntasXLogin", "Index", "PreguntasXLogin")</li>
                                <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
                                <li>@Html.ActionLink("Cuentas", "Index", "Cuentas")</li>
                                <li>@Html.ActionLink("Login", "Index", "LogIn")</li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Faltan</li>
                                <li>@Html.ActionLink("Permisos_CuentasXActividades", "Index", "Permisos_CuentasXActividades")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">HUMBERTO <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Perfiles", "Index", "Perfiles")</li>
                                <li>@Html.ActionLink("Personas", "Index", "Personas")</li>
                                <li>@Html.ActionLink("Actividades", "Index", "Actividades")</li>
                                <li>@Html.ActionLink("Baja", "Index", "Bajas")</li>
                                <li>@Html.ActionLink("Menu", "Index", "")</li> @*------------------------------*@
                                <li>@Html.ActionLink("Beneficio", "Index", "Beneficios")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Contacto", "Index", "Contactos")</li>
                                <li>@Html.ActionLink("Contacto(tipo)", "Index", "Contacto_tipo")</li>
                                <li>@Html.ActionLink("Contacto(medio)", "Index", "Contacto_medio")</li>
                                <li>@Html.ActionLink("Domicilio", "Index", "Domicilios")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Directorio", "Index", "Directorios")</li>
                                <li>@Html.ActionLink("Equipos", "Index", "Equipos")</li>
                                <li>@Html.ActionLink("Género", "Index", "Genero")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Municipios", "Index", "Municipios")</li>
                                <li>@Html.ActionLink("Países", "Index", "Paises")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Sesiones", "Index", "")</li> @*------------------------------*@
                                <li>@Html.ActionLink("Sistemas", "Index", "Sistemas")</li>
                            </ul>
                        </li>
                    </ul>
                    <!--
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
                        <li><a href="../navbar-static-top/">Static top</a></li>
                        <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                    </ul>
                        -->
                </div>
                <!-- ================ NAVBAR ================ -->

            </div>
        </nav>

        <div class="body-content">
            @RenderBody()
            <!-- ================ ALERTS ================= -->
            <div class="footer" align="justify" style="alignment-adjust:central">
                <div id="logSuccess" runat="server" style=" margin-bottom:5px;">  </div>
                <div id="logInfo" runat="server" style=" margin-bottom:5px;">  </div>
                <div id="logWarning" runat="server" style=" margin-bottom:5px;">  </div>
                <div id="logDanger" runat="server" style=" margin-bottom:5px;">  </div>
            </div>
            <!-- ================ ALERTS ================= -->
            <hr />
            <!-- ================ FOOTER ================ -->
            <footer>
                <p class="pull-right"><a href="#">Regresar inicio</a></p>
                <p>&copy; @DateTime.Now.Year  &middot; <a href="http://www.tago.com.mx/">Solutia Intelligence</a></p>
            </footer>
            <!-- ================ FOOTER ================ -->
        </div>


    </div>
        <!-- ================ SCRIPTS ================ -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @Scripts.Render("scripts/js/mike.js")
        @Scripts.Render("~/bundles/Miscelaneous")

</body>
</html>
