@model Security.Core.Model.Entidades

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo">Detalles</h2>

<div>
    <h4>Entidades</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abreviatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abreviatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paises.FIPS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paises.FIPS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {  }) |
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink(" ", "Edit", new { /* id = Model.PrimaryKey */}, new { @class = "btn btn-warning glyphicon glyphicon-pencil" })
            @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-info glyphicon glyphicon-chevron-left" })

        </div>
    </div>

</p>
