@model PagedList.IPagedList<Security.Core.Model.Entidades>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Entidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo" align="center">Entidades</h2>

@using (Html.BeginForm("Index", "Entidades", FormMethod.Get))
{
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
        <div class="input-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <span class="input-group-btn">
                <button type="submit" value="create" class="btn btn-info">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
}

<br /><br /><br />

<table class="table table-bordered table-condensed table-striped table-hover">
    <tr>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.Nombre)*@
            @Html.ActionLink("Entidad", "Index", new { sortOrder = ViewBag.Entidad, currentFilter = ViewBag.CurrentFilter })            
        </th>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.Abreviatura)*@
            @Html.ActionLink("Abreviatura", "Index", new { sortOrder = ViewBag.Abreviatura, currentFilter = ViewBag.CurrentFilter })            
        </th>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.Paises.FIPS)*@
            @Html.ActionLink("Pais", "Index", new { sortOrder = ViewBag.Pais, currentFilter = ViewBag.CurrentFilter })            
        </th>
        <th class="alert-success">
            <span class="glyphicon glyphicon-cog"> <b>Acciones</b> </span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abreviatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paises.FIPS)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new {  id=item.Id_Entidad  }   , new { @class = "btn-xs btn-warning glyphicon glyphicon-pencil" }) |
                @Html.ActionLink(" ", "Details", new { id = item.Id_Entidad },  new { @class = "btn-xs btn-info glyphicon glyphicon-th-list" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.Id_Entidad }, new { @class = "btn-xs btn-danger glyphicon glyphicon-remove" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<table class="btn-group">
    <tr>
        <td>
            <div class="input-group">
                <p>
                    @Html.ActionLink(" ", "Create", "Entidades", null, new { @class = "btn btn-success glyphicon glyphicon-plus" })
                </p>
            </div>
        </td>
    </tr>
</table>
