@model Security.Core.Model.Perfiles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo">Detalle</h2>

<div>
    <h4>Perfiles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Sistema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sistemas.Nombre)
        </dd>

    </dl>
</div>
@{
    var ControllerName = ViewContext.RouteData.Values["Controller"];
}
<p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-warning glyphicon glyphicon-pencil" data-container="body" data-toggle="popover" data-placement="left"
               data-content="Editar" href="~/@ControllerName/Edit/@Model.Id_Perfil"></a>
            <a class="btn btn-info glyphicon glyphicon-chevron-left" data-container="body" data-toggle="popover" data-placement="right"
               data-content="Volver" href="~/@ControllerName"></a>


            @*@Html.ActionLink(" ", "Edit", new { id = Model.Id_Perfil }, new { @class = "btn btn-warning glyphicon glyphicon-pencil", data_container = "body", data_toggle = "popover", data_placement = "bottom", data_content = "Editar" })
            @Html.ActionLink(" ", "Index", null, htmlAttributes: new { @class = "btn btn-info glyphicon glyphicon-chevron-left",  data_container="body", data_toggle="popover", data_placement="top", data_content="Voler" } )*@
        </div>
    </div>
    <hr />
</p>