@model PagedList.IPagedList<Security.Core.Model.Preguntas_x_Login>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Preguntas por login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Preguntas por login</h2>

@using (Html.BeginForm("Index", "Preguntas_x_Login", FormMethod.Get))
{
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
        <div class="input-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <span class="input-group-btn">
                <input type="submit" value="Buscar" placeholder="Valor de búsqueda" class="btn btn-default" />
            </span>
        </div>
    </div>
}

<br /><br /><br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Respuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogIn.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preguntas.Pregunta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Respuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogIn.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preguntas.Pregunta)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
