@model Security.Core.Model.AreasDeTrabajo

@{
    ViewBag.Title = "Eliminar Area de trabajo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Areas de trabajo</h2>
<h3>¿Está seguro que desea eliminar este elemento?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sistemas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sistemas.Nombre)
        </dd>

    </dl>
    @using(Html.BeginForm("ProcessSubmitUpload", "AreaDeTRabajo", FormMethod.Post))
    {
        @Html.ValidationSummary()
    }

    @using (Html.BeginForm()) 
    {        
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Delete" class="btn btn-danger ">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>                
                @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-info glyphicon glyphicon-chevron-left" })
            </div>
        </div>            
    }
</div>
