@model Security.Core.Model.AreasDeTrabajo

@{
    ViewBag.Title = "Details de area de trabajo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de area de trabajo</h2>

<div>   	
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sistemas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sistemas.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_AreaDeTrabajo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
