@model Security.Core.Model.AreasDeTrabajo

@{
    ViewBag.Title = "Details de area de trabajo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo">Detalles</h2>

<div>   	
    <h4>Area de trabajo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sistemas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sistemas.Nombre)
        </dd>

    </dl>
</div>
<p>    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">           
            @Html.ActionLink(" ", "Edit", new { id = Model.Id_AreaDeTrabajo }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" })                            
            @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-info glyphicon glyphicon-chevron-left" })
            
        </div>
    </div>

</p>
