@model Security.Core.Model.Municipios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo">Detalle</h2>

<div>
    <h4>Municipios / <b>@Html.DisplayFor(model => model.Entidades.Nombre, new { htmlAttributes = new { @class = "form-control" } })</b></h4>
    <hr />
    @Html.HiddenFor(model => model.Id_Pais)
    @Html.HiddenFor(model => model.Id_Entidad)
    @Html.HiddenFor(model => model.Id_Municipio)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abreviatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abreviatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entidades.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entidades.Nombre)
        </dd>

    </dl>
</div>
@{
    var ControllerName = ViewContext.RouteData.Values["Controller"];
}
<p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-warning glyphicon glyphicon-pencil" data-container="body" data-toggle="popover" data-placement="left"
               data-content="Editar" href="~/@ControllerName/Edit/@Model.Id_Pais/@Model.Id_Entidad/@Model.Id_Municipio"></a>
            <a class="btn btn-info glyphicon glyphicon-chevron-left" data-container="body" data-toggle="popover" data-placement="right"
               data-content="Volver" href="~/@ControllerName"></a>
        </div>
    </div>
    <hr />
</p>