@model Security.Core.Model.LogIn

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LogIn</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsoSalt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoSalt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personas.APaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personas.APaterno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Login }) |
    @Html.ActionLink("Back to List", "Index")
</p>
