@model PagedList.IPagedList<Security.Core.Model.Preguntas>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Preguntas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Preguntas</h2>

@using (Html.BeginForm("Index", "Preguntas", FormMethod.Get))
{
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
        <div class="input-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <span class="input-group-btn">
                <input type="submit" value="Buscar" placeholder="Valor de búsqueda" class="btn btn-default" />
            </span>
        </div>
    </div>
}

<br /><br /><br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pregunta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pregunta)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Pregunta }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id_Pregunta }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_Pregunta })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<table class="btn-group">
    <tr>
        <td>
            <div class="input-group">
                <p>
                    @Html.ActionLink("Nuevo", "Create", "Preguntas", null, new { @class = "btn btn-info" })
                </p>
            </div>
        </td>
    </tr>
</table>
