@model Security.Core.Model.Cuentas

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo">Cuentas</h2>

<h3>¿Está seguro que desea eliminar este elemento?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntentosCnn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntentosCnn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InicioBloqueo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InicioBloqueo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistroCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistroCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baja.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baja.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogIn.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogIn.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perfiles.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfiles.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sistemas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sistemas.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Delete" class="btn btn-danger ">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-info glyphicon glyphicon-chevron-left" })
            </div>
        </div>
    }
</div>
