@model Security.Core.Model.Cuentas

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cuentas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntentosCnn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntentosCnn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InicioBloqueo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InicioBloqueo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistroCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistroCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baja.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baja.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogIn.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogIn.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perfiles.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfiles.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sistemas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sistemas.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
