@model Security.Core.Model.Cuentas

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cuentas</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id_Cuenta)

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Login, "Id_Login", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Login", String.Empty)
                @Html.ValidationMessageFor(model => model.Id_Login)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Perfil, "Id_Perfil", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Perfil", String.Empty)
                @Html.ValidationMessageFor(model => model.Id_Perfil)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaCreacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaCreacion)
                @Html.ValidationMessageFor(model => model.FechaCreacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaModificacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaModificacion)
                @Html.ValidationMessageFor(model => model.FechaModificacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IntentosCnn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IntentosCnn)
                @Html.ValidationMessageFor(model => model.IntentosCnn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InicioBloqueo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InicioBloqueo)
                @Html.ValidationMessageFor(model => model.InicioBloqueo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Sistema, "Id_Sistema", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Sistema", String.Empty)
                @Html.ValidationMessageFor(model => model.Id_Sistema)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Estatus)
                @Html.ValidationMessageFor(model => model.Estatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Baja, "Id_Baja", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Baja", String.Empty)
                @Html.ValidationMessageFor(model => model.Id_Baja)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegistroCompleto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegistroCompleto)
                @Html.ValidationMessageFor(model => model.RegistroCompleto)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
