@model PagedList.IPagedList<Security.Core.Model.Cuentas>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Cuentas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo" align="center">Cuentas</h2>

@using (Html.BeginForm("Index", "Cuentas", FormMethod.Get))
{
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
        <div class="input-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <span class="input-group-btn">
                <input type="submit" value="Buscar" placeholder="Valor de búsqueda" class="btn btn-default" />
            </span>
        </div>
    </div>
}

<br /><br /><br />

<table class="table table-bordered table-condensed table-striped table-hover">
    <tr>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.FechaCreacion)*@
            @Html.ActionLink("Fecha Creación", "Index", new { sortOrder = ViewBag.FechaCrea, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.FechaModificacion)*@
            @Html.ActionLink("Fecha mod", "Index", new { sortOrder = ViewBag.FechaMod, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.IntentosCnn)*@
            @Html.ActionLink("Intentos Conex", "Index", new { sortOrder = ViewBag.Intentos, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.InicioBloqueo)*@
            @*@Html.ActionLink("Inicio Bloqueo", "Index", new { sortOrder = ViewBag.Baja, currentFilter = ViewBag.CurrentFilter })*@
            <a>Inicio Bloqueo</a>
        </th>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.Estatus)*@
            @* @Html.ActionLink("Baja", "Index", new { sortOrder = ViewBag.Baja, currentFilter = ViewBag.CurrentFilter })*@
            <a>Estatus</a>
        </th>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.RegistroCompleto)*@
            @*@Html.ActionLink("RegistroCompleto", "Index", new { sortOrder = ViewBag.Baja, currentFilter = ViewBag.CurrentFilter })*@
            <a>RegistroCompleto</a>
        </th>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.Baja.Nombre)*@
            @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.Nombre, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.LogIn.Usuario)*@
            @Html.ActionLink("Login Usuario", "Index", new { sortOrder = ViewBag.Usuario, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.Perfiles.Nombre)*@
            @Html.ActionLink("Perfil", "Index", new { sortOrder = ViewBag.Perfil, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.Sistemas.Nombre)*@
            @Html.ActionLink("Sistema", "Index", new { sortOrder = ViewBag.Sistema, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="alert-success">
            <span class="glyphicon glyphicon-cog"> <b>Acciones</b> </span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntentosCnn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InicioBloqueo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistroCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baja.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogIn.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfiles.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sistemas.Nombre)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.Id_Cuenta }, new { @class = "ButtonSettings Edit" }) |
                @Html.ActionLink(" ", "Details", new { id = item.Id_Cuenta }, new { @class = "ButtonSettings Details" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.Id_Cuenta }, new { @class = "ButtonSettings Delete" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<table class="btn-group">
    <tr>
        <td>
            <div class="input-group">
                <p>                   
                    @Html.ActionLink(" ", "Create", "Cuentas", null, new { @class = "btn btn-success glyphicon glyphicon-plus" })
                </p>
            </div>
        </td>
    </tr>
</table>
