@model Security.Core.Model.Domicilios

@{
    ViewBag.Title = "Domicilio/Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar</h2>

<h3>¿Est&aacute; seguro de que quiere eliminar este registro?</h3>
<div>
    <h4>Domicilio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domicilio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroExterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroExterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroInterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroInterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntreCalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntreCalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YCalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YCalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto_tipo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto_tipo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipios.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-warning" /> |
            
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
