@model Security.Core.Model.Domicilios

@{
    ViewBag.Title = "Domicilio / Detalles";
    Layout = "";
}
@Scripts.Render("~/bundles/Miscelaneous")
<div class="modal-header label-info">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hitden="true">&times;</span></button>

    <h2 class="modal-title">Detalle</h2>

    <h4 class="Fuente_blanca">Domicilio</h4>
</div>

<div class="modal-body">
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>

            <td>
                @Html.DisplayFor(model => model.Domicilio)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroExterior)
            </th>

            <td>
                @Html.DisplayFor(model => model.NumeroExterior)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroInterior)
            </th>

            <td>
                @Html.DisplayFor(model => model.NumeroInterior)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Colonia)
            </th>

            <td>
                @Html.DisplayFor(model => model.Colonia)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntreCalle)
            </th>

            <td>
                @Html.DisplayFor(model => model.EntreCalle)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YCalle)
            </th>

            <td>
                @Html.DisplayFor(model => model.YCalle)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notas)
            </th>

            <td>
                @Html.DisplayFor(model => model.Notas)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>

            <td>
                @Html.DisplayFor(model => model.FechaModificacion)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>

            <td>
                @Html.DisplayFor(model => model.Estatus)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_ContactoTipo)
            </th>

            <td>
                @Html.DisplayFor(model => model.Id_Municipio)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Municipios.Nombre)
            </th>

            <td>
                @Html.DisplayFor(model => model.Municipios.Nombre)
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    @{
        var ControllerName = ViewContext.RouteData.Values["Controller"];
    }
    <p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-warning glyphicon glyphicon-pencil" data-container="body" data-toggle="popover" data-placement="left"
                   data-content="Editar" href="~/@ControllerName/Edit/@Model.Id_Domicilio"></a>
                <a class="btn btn-info glyphicon glyphicon-chevron-left" data-container="body" data-toggle="popover" data-placement="right"
                   data-content="Volver" href="~/@ControllerName"></a>
            </div>
        </div>
        <hr />
    </p>
</div>