﻿@model PagedList.IPagedList<Security.Core.Model.Domicilios>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li>Inicio</li>
    <li><b>Domicilio</b></li>
    <li class="active">Lista</li>
</ol>

@using (Html.BeginForm("Index", "Domicilios", FormMethod.Get))
{
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">

        <div class="input-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <span class="input-group-btn">
                <input type="submit" value="Buscar" placeholder="Valor de búsqueda" class="btn btn-default" />
            </span>
        </div>
    </div>
    <br />
}
<br />
<br />
<table class="table table-hover">
    <tr>
        <th>
            @Html.ActionLink("Tipo", "Index", new { sortOrder = ViewBag.SortByTipo, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Colonia", "Index", new { sortOrder = ViewBag.SortByColonia, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Domicilio
        </th>
        <th>
            No. Ext.
        </th>
        <th>
            No. Int.
        </th>
        <th>
            Notas
        </th>
        <th>
            Estatus
        </th>
        <th>
            @Html.ActionLink("Municipio", "Index", new { sortOrder = ViewBag.SortByMunicipio, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("F. Modificación", "Index", new { sortOrder = ViewBag.SortByFechaModificacion, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="alert-success">
            <span class="glyphicon glyphicon-cog"> Acciones</span>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contacto_tipo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colonia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Domicilio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroExterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroInterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notas)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Municipios.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaModificacion)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.Id_Domicilio }, new { @class = "ButtonSettings Edit" }) |
            @Html.ActionLink(" ", "Details", new { id = item.Id_Domicilio }, new { @class = "ButtonSettings Details" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.Id_Domicilio }, new { @class = "ButtonSettings Delete" })            
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<table class="btn-group">
    <tr>
        <td>
            <div class="input-group">
                <p>
                    @Html.ActionLink("Agregar", "Create", "Domicilios", null, new { @class = "btn btn-info" })
                </p>
            </div>
        </td>
    </tr>
</table>