@model Security.Core.Model.Directorios

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready
    (
        function () {
            $("button").click(function () {
                if (document.getElementById('cbTodos').checked == true)
                    eliminaNotificaciones();
                else
                    eliminaArea("logDanger");
                var html;
                html = "<div class='alert alert-danger' style='margin-bottom: 5px;'>" +
                "<button type='button' class='close' data-dismiss='alert'>×</button>" +
                "<strong>DANGER </strong>Daño en el sistema, explotarás en 5..4..3..2..1.. <strong>BOOM!!</strong>.</div>";
                $("#logDanger").append(html);
            });
        }
    );

</script>

<h2>Directorios</h2>

<h3>¿Está seguro que desea eliminar este elemento?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Directorio_tipo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Directorio_tipo.Nombre)
        </dd>

    </dl>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Delete" class="btn btn-danger " data-container="body" data-toggle="popover" data-placement="left" data-content="Eliminar">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                @{
                    var ControllerName = ViewContext.RouteData.Values["Controller"];
                }
                <a class="btn btn-info glyphicon glyphicon-chevron-left" data-container="body" data-toggle="popover" data-placement="right" data-content="Volver" href="/@ControllerName"></a>
            </div>
        </div>
    } 
</div>

@ViewBag.Error

@if (ViewBag.True == 1)
{
    <script type="text/javascript">danger();</script>
    @*<script type="text/javascript">BootMessage("Error", ViewBag.Error, "danger",1);</script>*@    
}