@model Security.Core.Model.Directorios

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo">Directorios</h2>

<h3>¿Está seguro que desea eliminar este elemento?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Directorio_tipo.Nombre)*@
            Tipo de directorio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Directorio_tipo.Nombre)
        </dd>

    </dl>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
<<<<<<< HEAD

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Delete" class="btn btn-danger " data-container="body" data-toggle="popover" data-placement="left" data-content="Eliminar">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                @{
                    var ControllerName = ViewContext.RouteData.Values["Controller"];
                }
                <a class="btn btn-info glyphicon glyphicon-chevron-left" data-container="body" data-toggle="popover" data-placement="right" data-content="Volver" href="/@ControllerName"></a>
            </div>
        </div>
    } 
=======
        var ControllerName = ViewContext.RouteData.Values["Controller"];
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Delete" class="btn btn-danger " data-container="body" data-toggle="popover" data-placement="left"
                        data-content="Eliminar">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                <a class="btn btn-info glyphicon glyphicon-chevron-left" data-container="body" data-toggle="popover" data-placement="right"
                   data-content="Volver" href="~/@ControllerName"></a>
            </div>
        </div>
    }  
>>>>>>> origin/HumbertoTest
</div>

<hr />
<hr />

@if (ViewBag.True == 1)
{            
    <div class='alert alert-info' style='margin-bottom: 5px;'>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<button type='button' class='close' data-dismiss='alert'>×</button>
		<strong>INFO </strong> @ViewBag.Error.
    </div>
}