@model PagedList.IPagedList<Security.Core.Model.Paginas>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Paginas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo" align="center">Paginas</h2>

@using (Html.BeginForm("Index", "Paginas", FormMethod.Get))
{
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
        <div class="input-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <span class="input-group-btn">
                <input type="submit" value="Buscar" placeholder="Valor de búsqueda" class="btn btn-default" />
            </span>
        </div>
    </div>
}

<br /><br /><br />

<table class="table table-bordered table-condensed table-striped table-hover">
    <tr>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.Nombre)*@
            @Html.ActionLink("Pagina", "Index", new { sortOrder = ViewBag.Pagina, currentFilter = ViewBag.CurrentFilter })            
        </th>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.Titulo)*@
            @Html.ActionLink("Titulo", "Index", new { sortOrder = ViewBag.Titulo, currentFilter = ViewBag.CurrentFilter })            
        </th>
        <th class="alert-info">
            @*@Html.DisplayNameFor(model => model.Sistemas.Nombre)*@
            @Html.ActionLink("Sistema", "Index", new { sortOrder = ViewBag.Sistema, currentFilter = ViewBag.CurrentFilter })            
        </th>
        <th class="alert-success">
            <span class="glyphicon glyphicon-cog"> <b>Acciones</b> </span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sistemas.Nombre)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.Id_Pagina }        , new { @class = "ButtonSettings Edit" }) |
                @Html.ActionLink(" ", "Details", new { id = item.Id_Pagina }   , new { @class = "ButtonSettings Details" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.Id_Pagina }    , new { @class = "ButtonSettings Delete" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<table class="btn-group">
    <tr>
        <td>
            <div class="input-group">
                <p>
                    @Html.ActionLink(" ", "Create", "Paginas", null, new { @class = "btn btn-success glyphicon glyphicon-plus" })
                </p>
            </div>
        </td>
    </tr>
</table>