@model PagedList.IPagedList<Security.Core.Model.Locations>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Ubicaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">UBICACIONES</h2>

@using (Html.BeginForm("Index", "Locations", FormMethod.Get))
{
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
        <div class="input-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <span class="input-group-btn">
                <input type="submit" value="Buscar" placeholder="Valor de búsqueda" class="btn btn-default" />
            </span>
        </div>
    </div>
}

<br /><br /><br />

<table class="table table-bordered table-condensed table-striped table-hover">
    <tr>
        <th class="alert-info">
            @Html.ActionLink("Ubicacion", "Index", new { sortOrder = ViewBag.Ubicaciones, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="alert-info">
            @Html.ActionLink("Latitud", "Index", new { sortOrder = ViewBag.Latitud, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="alert-info">
            @Html.ActionLink("Longitud", "Index", new { sortOrder = ViewBag.Longitud, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class ="alert-success">
            <span class="glyphicon glyphicon-cog"> <b>Acciones</b> </span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.LocationId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.LocationId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.LocationId })
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<table class="btn-group">
    <tr>
        <td>
            <div class="input-group">
                <p>
                    @Html.ActionLink("Nuevo", "Create", "Locations", null, new { @class = "btn btn-info" })
                </p>
            </div>
        </td>
    </tr>
</table>

