@model PagedList.IPagedList<Security.Core.Model.Acciones>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@Scripts.Render("~/bundles/Miscelaneous")
@{
    ViewBag.Title = "Acciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo" align="center">Acciones</h2>

@using (Html.BeginForm("Index", "Acciones", FormMethod.Get))
{
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
        <div class="input-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <span class="input-group-btn">
                <button type="submit" value="Buscar" class="btn btn-info">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
}

<br /><br /><br />
<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover Box">
        <tr>
            <th class="alert-info">
                @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.Nombre, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th class="alert-info">
                <a>Estatus</a>
                @*@Html.ActionLink("Estatus", "Index", new { sortOrder = ViewBag.Estatus, currentFilter = ViewBag.CurrentFilter })*@
            </th>
            <th class="alert-success">
                <span class="glyphicon glyphicon-cog"></span> <b>Acciones</b> 
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id_Accion }, new { @class = "btn-xs btn-warning glyphicon glyphicon-pencil", data_modal = "" }) |
                    @Html.ActionLink(" ", "Details", new { id = item.Id_Accion }, new { @class = "btn-xs btn-info glyphicon glyphicon-th-list", data_modal = "" }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.Id_Accion }, new { @class = "btn-xs btn-danger glyphicon glyphicon-remove", data_modal = "" })
                </td>
            </tr>
        }

    </table>
</div>

<!-- Modal -->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<table class="btn-group">
    <tr>
        <td>
            <div class="input-group">
                <p>
                    @*<a class="btn btn-success glyphicon glyphicon-plus" data-toggle="modal" data-target="#CreateModal" href="~/Acciones/Create"></a>*@
                    @Html.ActionLink(" ", "Create", "Acciones", htmlAttributes: new { @class = "btn btn-success glyphicon glyphicon-plus", data_modal = "" })
                </p>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });

        $("a[data-modal]").on("click", function (e) {
            // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
            //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

            $('#myModalContent').load(this.href, function () {
                $('#myModal').modal({
                    backdrop: 'static',
                    keyboard: true,

                }, 'show');
                bindForm(this);
            });
            return false;
        });
    });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {

            $.ajax({
                type: this.method,
                url: this.action,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        window.location.href = result.url;
                    } else {
                        $('#myModalContent').html(result);
                        bindForm(dialog);
                    }
                }
            });

            return false;
        });
    }
</script>